@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  background: url('https://images.pexels.com/photos/14681530/pexels-photo-14681530.jpeg?_gl=1*1u6vafr*_ga*MjEzNTk3MjU2NC4xNzU3NjQzMDQy*_ga_8JE65Q40S6*czE3NTc2NDMwNDEkbzEkZzEkdDE3NTc2NDMzMTgkajYwJGwwJGgw') no-repeat center center fixed;
  background-color: #bf5600;
  background-size: auto 100%;
  font-family: 'Lobster Two';
  color: #000000;
}
	
/*-=-=-=- RIGHT SIDE */

.container.main {
	background: rgba(166, 158, 151, 0.45)!important;
	border: none;
	box-shadow: none;
	border-radius: 0px	
}

/* pagedoll */
.container.main::after {
content: "";
background-image: url('https://cherryteeth.neocities.org/pagedolls/adopted/staticwind_howl.gif');
background-size: cover;
position: fixed;
display: block;
height:200px;
width:180px;
right: 10px;
bottom: 1rem;
z-index: 100;
pointer-events:none;
}

/*-=-=-=- LEFT SIDE */
.col-md-9 {
	background: rgba(166, 158, 151, 0.45);
}

p {
    font-size: 32px;
  }

a:link {
  color: green;
  background-color: none;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

a:hover, a:active {
  background-color: rgba (255 105 105 0.4);
}

title {
	font-size: 48px;
}














